html, body{
    width: 100%;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

#wrapper{
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "content"
        "footer";
    /*  grid-template-columns: auto 250px; */
    grid-template-rows: 20px 20px 1fr 50px;
    grid-row-gap: 20px;
    /* grid-column-gap: 10px; */
    width: 100%;
    height: 100vh;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
    margin: 10px;
}

li{
    display: inline-block;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.currentTab{
    font-weight: bold;
    margin: 10px;
}

header h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-left: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.content img{
    width: 100%;
    height: 1fr;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 10px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.news{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news img{
    width: 100%;
    height: 80%;
}

.news div {
    padding: 10px;
}

.form{
    padding:10px;
}

/* Footer Style */
footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    /* background-color: grey; */
    height: 40px;
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    justify-content: space-between;
}

footer a{
    padding: 5px;
}

footer div{
    display: flex;
    align-items: center;
}

/* Forms Style */
fieldset{
    display: inline-block;
    flex-direction: row;
    width: 50%;
}

.styleInput{
    border-radius: 5px;
    width: 80%;
    padding: 12px;
}

.roboto {
    font-family: 'Roboto' sans-serif;
}

.buttons{
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: none;
}

input[type=checkbox]{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

/* Index Style */
.intro{
    display: inline-block;
    overflow-wrap: break-word;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.intro p{
    margin: auto;
    width: 50%;
    font-size: 19px;
    text-align: center;
}

/* Products Style */
.productsList{
    grid-area: content;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    align-items: center;
}

.product{
    display: inline-block;
    width: 300px;
    padding: 10px;
}

.product img{
    width: 300px;
    height: 300px;
}

.product p{
    overflow-wrap: break-word;
}

.price{
    font-weight: bold;
}

@media screen and (min-width: 650px) {
    li{
        display: inline-block;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    .productsList{
        grid-area: content;
        display: flex;
        flex-direction: row;
        /* padding: 10px; */
        align-items: center;
        flex-wrap: wrap;
    }
    
    .product{
        display: inline-block;
        width: 300px;
        padding: 10px;
    }

    .intro{
        display: inline-block;
        overflow-wrap: break-word;
        width: 100%;
        align-items: center;
        padding: 20px;
    }
    
    .intro p{
        margin: auto;
        width: 50%;
        font-size: 19px;
        text-align: center;
    }
    
    .news{
        grid-area: content;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .content{
        grid-area: content;
        display: inline-block;
        align-items: center;
    }

    footer{
        grid-area: footer;
        display: flex;
        align-items: center;
        /* background-color: grey; */
        height: 40px;
        /* position: fixed;*/
        bottom: 0;
        left: 0; 
        width: 100%;
        justify-content: space-between;
    }
    
    footer a{
        padding: 5px;
    }
    
    footer div{
        display: flex;
        align-items: center;
    }
}
