/* Footer Style */
footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    div a{
        padding: 5px;
        font-size: 17px;
        img{
            width: 30px;
            height: 30px;
        }
    }
}
@media screen and (min-width: 650px){
    footer{
        grid-area: footer;
        display: flex;
        align-items: center;
        bottom: 0;
        left: 0; 
        width: 100%;
        justify-content: space-between;
        div a img{
            width: 30px;
            height: 30px;
        }
    }
}